:host {
  display: flex;
  flex-direction: column;
  justify-content: center; // left right margin
  align-items: center; // top bottom margin
  height: 100%;

  button {
    display: block;
    margin-right: 0;
  }
}
