<h1 mat-dialog-title>Result</h1>
<mat-dialog-content>
  <!-- @TODO: Sync with the type : algorithmResult ? -->
  <!-- <div *ngFor="let algorithm of algorithmsResult | async | keyvalue">
    <h3>{{ algorithm.key }}</h3>
    <table>
      <thead>
        <tr>
          <th>IndexName</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of algorithm.value">
          <td>{{ result.indexName }}</td>
          <td>{{ result.result }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
</mat-dialog-content>

<div mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close="true">Cancel</button>
</div>
