<h1 mat-dialog-title>Result</h1>
<mat-dialog-content>
  <table mat-table [dataSource]="dataSource" matSort matSortDisabled>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container *ngIf="column !== 'genName'">
          {{ column }}
        </ng-container>
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="column !== 'genName' && column !== 'genId' ? getColumnClass(element[column]) : ''">
        {{ element[column] }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="getRowClass(row)">
    </tr>
  </table>
</mat-dialog-content>

<div mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close="true">Cancel</button>
</div>
