<h1 mat-dialog-title>Result</h1>
<mat-dialog-content>
  <p matTooltip="False positive means ..." class="icon-text">
    <span class="highlight-green">TP = true positive </span> /
    <span class="highlight-red">FN = false negative </span> /
    <span class="highlight-red">FP = false positive </span> /
    <span>TN = true negative </span>
    <mat-icon>info</mat-icon>
  </p>

  <table mat-table [dataSource]="dataSource">
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef>
        <ng-container *ngIf="column !== genDisplayName">
          {{ column }}
        </ng-container>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="getCellClass(element[column])"
      >
        {{ element[column] }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngStyle]="{ 'font-weight': getRowClass(row) ? 'bold' : '' }"
    ></tr>
  </table>
</mat-dialog-content>

<div mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close="true">Cancel</button>
</div>
