<h1 mat-dialog-title>Result</h1>
<mat-dialog-content>
  <p>
    <span class="highlight-green highlight">TP = true positive / </span>
    <span class="highlight-red highlight">FN = false negative / </span>
    <span class="highlight-green">TN = true negative / </span>
    <span class="highlight-red">FP = false positive </span>
  </p>

  <table mat-table [dataSource]="dataSource" matSort matSortDisabled>
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container *ngIf="column !== 'genName'">
          {{ column }}
        </ng-container>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="getCellClass(element[column])"
      >
        {{ element[column] }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngStyle]="{ 'font-weight': getRowClass(row) ? 'bold' : '' }"
    ></tr>
  </table>
</mat-dialog-content>

<div mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close="true">Cancel</button>
</div>
