<mat-toolbar>
  <h1>Aramis</h1>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Menu" (click)="toggleSidenav()">
    <mat-icon>view_sidebar</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar
  [mode]="(apiLoading$ | async) ? 'indeterminate' : 'determinate'"
  [value]="100"
></mat-progress-bar>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav mode="side" [opened]="screenWidth > 720" #sidenav>
    <app-parameters></app-parameters>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="map-container">
      <div class="map-label">Real data</div>
      <div id="mapTop" class="map"></div>
    </div>
    <div class="map-container map-container-bottom">
      <div class="map-label">Operator data</div>
      <div id="mapBottom" class="map"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="map-legend" [hidden]="sidenav.opened && screenWidth < 720">
  <p>
    <svg width="30px" height="4px">
      <rect width="30px" height="4px" [attr.fill]="line380kVColor"></rect>
    </svg>
    380kV
  </p>
  <p>
    <svg width="30px" height="4px">
      <rect width="30px" height="4px" [attr.fill]="line220kVColor"></rect>
    </svg>
    220kV
  </p>
  <p>
    <svg width="30px" height="4px">
      <line
        x1="0"
        y1="3"
        x2="30"
        y2="3"
        stroke="black"
        stroke-width="5"
        stroke-dasharray="3 6"
      />
    </svg>
    >= 90%
  </p>
  <p>
    <svg width="30px" height="4px">
      <line
        x1="0"
        y1="3"
        x2="30"
        y2="3"
        stroke="black"
        stroke-width="5"
        stroke-dasharray="5"
      />
    </svg>
    >= 100%
  </p>
</div>
