:host {
  mat-toolbar {
    height: 4vh;
    border-bottom: 1px solid black;
    .example-spacer {
      flex: 1 1 auto;
    }
  }

  mat-sidenav-container {
    height: 96vh;
  }

  mat-sidenav {
    padding: var(--space);
    border-radius: 0;
    border-right: 1px solid black;
  }

  .flex-item {
    flex: 1;
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 10px; /* Adjust this value to position the overlay inside the map */
    left: 10px; /* Adjust this value to position the overlay inside the map */
    padding: var(--space-smallest) var(--space);
    color: white; /* Text color */
    background-color: rgba(
      128,
      128,
      128,
      0.8
    ); /* Gray background with some transparency */
    font-size: 20px; /* Font size */
    z-index: 1000; /* Ensure it is above the map content */
  }
}
