<mat-toolbar>
  <h1>Anomalies Detection System</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <app-parameters></app-parameters>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="map-container">
      <div class="map-label">Real data</div>
      <div id="mapTop" class="map"></div>
    </div>
    <div class="map-container">
      <div class="map-label">Operator data</div>
      <div id="mapBottom" class="map"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
