:host {
  display: flex;
  height: 100%;
  flex-flow: column;

  mat-sidenav-container {
    height: 100%;

    mat-sidenav {
      border-radius: 0;
      border-right: 1px solid black;
      border-top: 1px solid black;

      .content-container {
        padding: var(--space-small);
      }
    }

    mat-sidenav-content {
      .map-container {
        position: relative; // for label
        height: 50%;
        box-sizing: border-box; // for border not going outside the container (and be hidden)
        border-top: 1px solid black;
      }
      .map {
        width: 100%;
        height: 100%;
      }
      .map-label {
        position: absolute;
        top: var(--space-smaller);
        left: var(--space-smaller);
        padding: var(--space-smallest) var(--space);
        color: white;
        background-color: rgba(128, 128, 128, 0.8);
        font-size: 20px;
        z-index: 1000;
      }
    }
  }
}
