@use "scss-opinionated/mixins/grid" as grid;
:host {
  display: flex;
  height: 100%;
  flex-flow: column;

  mat-toolbar {
    border-bottom: 1px solid black;
    .spacer {
      flex: 1 1 auto;
    }
  }

  mat-progress-bar {
    overflow: hidden;
  }

  mat-toolbar {
    border-bottom: 1px solid black;
  }

  mat-sidenav-container {
    height: 100%;

    mat-sidenav {
      max-width: 600px;
      min-width: 35%;
      border-radius: 0;
      border-right: 1px solid black;
      @include grid.sm {
        width: 100%;
      }
    }

    mat-sidenav-content {
      .map-container {
        position: relative; // for label
        height: 50%;
        box-sizing: border-box; // for border not going outside the container (and be hidden)
        border-bottom: 2px solid black;
      }

      .map {
        width: 100%;
        height: 100%;
        background: white;
      }
      .map-label {
        position: absolute;
        top: var(--space-smaller);
        left: var(--space-smaller);
        padding: var(--space-smallest) var(--space);
        color: white;
        background-color: rgba(128, 128, 128, 0.8);
        font-size: 20px;
        z-index: var(--z-index-highest);
      }
    }
  }

  .map-legend {
    position: absolute;
    top: 50%;
    right: 0;
    padding: var(--space-smaller);
    margin-top: var(--mat-toolbar-title-text-line-height);
    border: 1px solid black;
    background-color: rgba(239, 239, 239);
    z-index: var(--z-index-normal); // Consider toolbar height
    transform: translateY(
      -50%
    ); // Taking the center of element as reference from top
    p {
      margin: 0;
      svg {
        padding: 0 0 var(--space-smallest) 0;
      }
    }
  }
}
