@import "scss-opinionated/mixin";
@import "scss-opinionated/utilities";
//Doc: https://github.com/rbalet/scss-opinionated

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//@TODO: define in global style
h2 {
  margin-top: 0.5em !important;
  font-size: 1.2rem !important;
  line-height: 1.2rem !important;
}

h3 {
  font-size: 1rem !important;
  font-weight: bold !important;
  line-height: 1rem !important;
}

// Remove space in table
.mat-mdc-row,
.mat-mdc-header-row {
  --mat-table-row-item-label-text-line-height: var(--space-bigger);
  --mat-table-row-item-container-height: var(--space-bigger);
}

// Remove icon in chip and add padding instead
.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
  .mdc-evolution-chip__action--primary {
  padding-left: 12px !important;
}
.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
  .mdc-evolution-chip__graphic {
  display: none;
}

.highlight-red {
  color: red;
  font-weight: bold;
}
.highlight-green {
  color: green;
  font-weight: bold;
}

// Display icon on the same line as text
.icon-text {
  display: flex !important;
  align-items: center !important;
  .mat-icon {
    margin-right: var(--space-smallest);
    margin-left: var(--space-smallest);
  }
}

.tooltip-breakline {
  white-space: pre-line !important;
}
.tooltip-breakline .mdc-tooltip__surface {
  max-width: 300px !important;
}
