@import "scss-opinionated/mixin";
@import "scss-opinionated/utilities";
//Doc: https://github.com/rbalet/scss-opinionated

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//@TODO: define in global style
h2 {
  font-size: 1.2rem !important;
  line-height: 1.2rem !important;
}

h3 {
  font-size: 1rem !important;
  font-weight: bold !important;
  line-height: 1rem !important;
}
.mat-drawer {
  --mat-sidenav-container-width: 400px;
}
.mat-mdc-row,
.mat-mdc-header-row {
  --mat-table-row-item-label-text-line-height: var(--space-bigger);
  --mat-table-row-item-container-height: var(--space-bigger);
}

.highlight-red {
  color: red;
  font-weight: bold;
}

.highlight-green {
  color: green;
  font-weight: bold;
}
