body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.map {
  width: 100%;
  height: 48vh;
  border-bottom: 1px solid black;
}

//@TODO: define in global style
h2 {
  font-size: 1.2rem !important;
  line-height: 1.2rem !important;
}

h3 {
  font-size: 1rem !important;
  line-height: 1rem !important;
}
