<h2>Data source</h2>
<h3>Season</h3>
<mat-chip-listbox aria-label="Season" [(ngModel)]="selectedData.season">
  <mat-chip-option *ngFor="let season of seasons">{{ season }}</mat-chip-option>
</mat-chip-listbox>
<h3>Day</h3>
<mat-chip-listbox aria-label="Day type" [(ngModel)]="selectedData.day">
  <mat-chip-option *ngFor="let dayType of day">{{ dayType }}</mat-chip-option>
</mat-chip-listbox>
<h3>Time slot</h3>
<mat-chip-listbox aria-label="Time slot" [(ngModel)]="selectedData.hour">
  <mat-chip-option *ngFor="let timeSlot of hours | keyvalue">{{
    timeSlot.key
  }}</mat-chip-option>
</mat-chip-listbox>
<button mat-flat-button (click)="loadData()">Load data</button>

<h2>Attack</h2>
<mat-chip-listbox aria-label="Targets" multiple [(ngModel)]="selectedTargets">
  <mat-chip-option *ngFor="let target of targets | keyvalue">{{
    target.key
  }}</mat-chip-option>
</mat-chip-listbox>
<button mat-flat-button (click)="simulateAttack()">Simulate attack</button>

<h2>Algorithm</h2>
<mat-chip-listbox aria-label="Algorithms" multiple [(ngModel)]="selectedAlgo">
  <mat-chip-option *ngFor="let algorithm of algorithmList">{{
    algorithm
  }}</mat-chip-option>
</mat-chip-listbox>
<button mat-flat-button (click)="testAlgo()">Test algorithm</button>
