:host {
  mat-chip-listbox {
    padding-bottom: var(--space-smaller);
  }

  .mat-mdc-slider {
    width: 75%;
    margin-left: 6%;
  }

  .mat-mdc-unelevated-button {
    width: 100%;
  }
  .selector-container {
    display: flex;
    align-items: center;
  }

  .input-container {
    padding: var(--space-small);
  }
  .result-container {
    padding: var(--space-small);
    border-top: 1px solid black;
  }
}
