:host {
  mat-chip-listbox {
    padding-bottom: var(--space-smaller);
  }

  button {
    width: 100%;
    margin: 10px 0;
  }

  table {
    width: 100%;
    margin-bottom: var(--space);
    border-collapse: collapse;
  }

  th,
  td {
    padding: var(--space-smaller);
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  .mat-mdc-unelevated-button[disabled],
  .mat-mdc-unelevated-button.mat-mdc-button-disabled {
    pointer-events: all;
    cursor: pointer;
  }
}
